{% extends 'base.html.twig' %} {% block title %}New password{% endblock %} {%
block body %} {% for message in app.flashes('danger') %}
<div class="alert alert-danger" role="danger">
  {{ message }}
</div>
{% endfor %}
<div class="container">
  <h1>Enter your new password</h1>

  {{ form_start(resetForm) }}
  <div class="form_row">
    <input type="hidden" name="token" value="{{ token }}" />
  </div>
  {{ form_row(resetForm.plainPassword) }}

  <button class="btn btn-primary">Reset password</button>
  {{ form_end(resetForm) }}
</div>
{% endblock %}
