{% extends 'base.html.twig' %} {% form_theme formTrick
'bootstrap_4_layout.html.twig' %} {% block body %}
<h3>Création d'un Trick</h3>
{{ form_start(formTrick) }}
{{ form_row(formTrick.TrickName,{'attr':{'placeholder':"Add name"}}) }}
{{ form_row(formTrick.description,{'attr':{'placeholder':"Add description"}}) }}
{{ form_row(formTrick.categorie,{'attr':{'placeholder':"Add categorie"}}) }}
{{ form_row(formTrick.images) }}
<button type="submit" class="btn btn-success">
  {% if editMode %} Edit trick {% else %} Ajouter le trick {% endif %}
</button>
{{ form_end(formTrick) }}
<!--
<div class="container margin-top">
  <div class="row text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="bg-light py-3 px-3">
        <h3 class="">Create Trick</h3>
        <form action="" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="TrickName"> Nom du trick</label>
            <input
              class="form-control"
              id="TrickName"
              type="text"
              name="TrickName"
              placeholder="Entrez le nom"
              required=""
            />
          </div>
          <div class="form-group">
            <label for="description"> Description</label>
            <input
              class="form-control"
              id="description"
              type="text"
              name="description"
              placeholder="Entrez une description "
              required=""
            />
          </div>
          <div class="form-group">
            <label for="categorie"> Catégorie</label>
            <input
              class="form-control"
              id="categorie"
              type="text"
              name="categorie"
              placeholder="Entrez une catégorie"
              required=""
            />
          </div>
          <div class="form-group">
            <label for="image"> Image</label>
            <input type="file" name="myfile" id="myfile" />
          </div>

          <div class="form-group">
            <button class="btn btn-success" type="submit">
              ajouter le trick
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
-->
{% endblock %}
