{% extends 'base.html.twig' %} {% block body %}
<div class="home-bg bg"></div>
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
{% for message in app.flashes('error') %}
<div class="alert  alert-warning">
    {{ message }}
</div>
{% endfor %}
<button type="button" id="myBBtn" onclick="bottomFunction()">
  <i class="fas fa-arrow-down"></i>
</button>
<section class="tickes">
 
  <div class="container">
    <div class="row">
      {% for trick in tricks %}

      <div
        class="col-xs-12 col-sm-12  col-lg-3 trick trickcard_style"
        style="flex-shrink: 1"
      >
   
        <div class="card card_tricks md-3">
          {% for image in images %}
           {% if trick.id == image.Trick.id %} 
           {% if image.isMainImage == true %}
         
      
          <img
            class="card-img-top margin"
            src="{{ asset('/images/'~ image.name) }}"
            alt="Trick image"
          />
          {% endif %} 

{% if trick.images is empty %} 
<img
class="display-top img-fluid"
src="https://via.placeholder.com/130.png/09f/fff"
alt=""
width="600px"
/>
{% endif %}

          {% endif %}
        
       
          {% endfor %}
      
        </div>

        <div class="card-body">
         <a href="/trick/{{ trick.slug }}" <h4 class="card-title">{{ trick.trickName }}</h4></a>
          <p class="card-text">{{ trick.description }}</p>
          <p class="card-text">{{ trick.categorie }}</p>
          <p class="card-text">
            Created on:{{ trick.createdOn | date('d/m/y') }} a
            {{ trick.createdOn | date('H:i') }} by {{ trick.user.secondName }}
          </p>

        
          <div>
            {% if app.user %} {% if app.user.id == trick.user.id %}
            <a href="{{ path('trick_edit', { id: trick.id }) }}"
              ><i class="fas fa-edit"></i
            ></a>
            <a
              href="{{ path('trick_delete', { id: trick.id }) }}"
              trick-delete
              data-token="{{csrf_token('delete'~ trick.id)}}"
              ><i class="fas fa-trash-alt"></i
            ></a>
            {% endif %} {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<button type="button" id="myBtn" onclick="topFunction()">
  <i class="fas fa-arrow-up"></i>
</button>
<footer>
  <div class="visibility_footer">
    <p><a href="mailto:hege@example.com">Copyright @ 2022</a></p>
  </div>
  <div class="visibility_user">
       <ul class="navbar-nav ms-auto mb-2 mb-lg-0 display" style="display: flex;
       flex-direction: row;justify-content: space-evenly;">
            {% if app.user %} 
            
            <li class="nav-item">
              <a class="nav-link" href="{{ path('user_profile', { id: app.user.id }) }}"
                ><i class="fas fa-user-plus"></i></i> {{ app.user.userIdentifier }} </a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('trick_create') }}"
                ><i class="fa fa-plus" aria-hidden="true"></i>
               </a
              >
              
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_logout') }}"
                ><i class="fas fa-sign-in-alt"></i> </a
              >
            </li>
            
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_register') }}"
                ><i class="fas fa-user-plus"></i>Inscription</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_login') }}"
                ><i class="fas fa-sign-in-alt"></i>Connection</a
              >
            </li>

            {% endif %}
            
           
          </ul>
  </div>
</footer>
{% endblock %} {% block javascripts %}
<script src="{{ asset('/js/button.js') }}"></script>
<script src="{{ asset('/js/buttonbottom.js') }}"></script>
<script src="{{ asset('/js/trick.js') }}"></script>
{% endblock %}
