{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %} 
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
{% for message in app.flashes('error') %}
<div class="alert  alert-warning">
    {{ message }}
</div>
{% endfor %}
<h3 class="creation_topic">Création d'un Trick</h3>
<section class="tickes">
  <div class="card trickcard_style">
    {{ form_start(form) }}
    <div class="form_row">
      {{ form_row(form.TrickName,{'attr':{'placeholder':"Add name"}}) }}
    </div>
    <div class="form_row">
      {{ form_row(form.description,{'attr':{'placeholder':"Add description"}}) }}
    </div>
    <div class="form_row">
      {{ form_row(form.categorie,{'attr':{'placeholder':"Add categorie"}})
      }}
    </div>
    <div class="form_row">
      {{ form_row(form.images)
      }}
    </div>
    <div class="form_row">
      {{ form_row(form.gallaryimages)
      }}
    </div>
   
  
    <div class="form_row">
      <button type="submit" class="btn btn-success">
     Ajouter le trick 
      </button>
      {{ form_end(form) }}
    </div>
  </div>
  </div>
</section>

{% endblock %}
