{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %} 

<h3 class="creation_topic">Edit d'un Trick</h3>
<section class="tickes">
  <div class="card trickcard_style">
    {{ form_start(form) }}
    <div class="form_row">
      {{ form_row(form.TrickName,{'attr':{'placeholder':"Add name"}}) }}
    </div>
    <div class="form_row">
      {{ form_row(form.description,{'attr':{'placeholder':"Add description"}}) }}
    </div>
    <div class="form_row">
      {{ form_row(form.categorie,{'attr':{'placeholder':"Add categorie"}})
      }}
    </div>
{# <pre>
    {{ dump( form.data) }}
</pre> #}
{% for mainimage in trick.images %}
{% if mainimage.name is not null %}
<pre>
    {{ dump( mainimage.name) }}
</pre>
    <div>
      
        <img
          src="{{ asset('/images/'~ mainimage.name) }}"
          alt=""
          width="200"
        />
        
        <a href="{{ path('delete_main_image', { id: mainimage.id }) }}" data-delete data-token="{{csrf_token('delete'~ mainimage.id)}}"
        ><i class="fas fa-trash-alt">supmain</i
      >
       </a>
      
      </div>
      {% endif %}
  {% endfor %}
  <div class="form_row">
  {{ form_row(form.images) }}
  <a type="button" class="btn btn-primary mr-auto m-2" href="#"
  >Choisir une image pour changer le image principle
</a>
</div>

{# <div class="image_galarie form_row">
    <h4>image galarie</h4>
    <a type="button" class="btn btn-primary mr-auto m-2" href="#"
      >Ajouter une image
    </a>
  </div> #}
 
  {% for galleryimg in trick.images %}
  {% if galleryimg.nameGallaryImages is not null %}
<pre>
    {{ dump(galleryimg.nameGallaryImages) }}
</pre>
{# <div class="form_row">
  {{ form_row(form.images)
  }}
</div> #}

  <div class="form_row">
      
    <img
      src="{{ asset('/images/'~ galleryimg.nameGallaryImages) }}"
      alt=""
      width="150"
    />
    <a href="{{ path('delete_gallery_image', { id: galleryimg.id }) }}" data-delete data-token="{{csrf_token('delete'~ galleryimg.id)}}"
    ><i class="fas fa-trash-alt">supGalleryimages</i
  >
   </a>
   <div>
    
    <a type="button" class="btn btn-primary mr-auto m-2" href="#"
    >Choisir une image pour changer le gallary image
  </a>


  </div>
  </div>


{% endif %}
  
  {% endfor %}
  
  <div class="form_row">
    <a type="button" class="btn btn-primary mr-auto m-2" href="{{ path('add_video',{ id: trick.id })}}"
    >Add video
  </a>
    <div class="form_row">
      <button type="submit" class="btn btn-success">
     Editer le trick 
      </button>
    
      {{ form_end(form) }}
    </div>
</div>
  </div>
</section>

{% endblock %}
{% block javascript %}
<script src="{{ asset('js/image.js')}}"
{% endblock javascript %}