{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %} 

<h3 class="creation_topic">Edit d'un Trick</h3>
<section class="tickes">
  <div class="card trickcard_style">
    {{ form_start(form) }}
    <div class="form_row">
      {{ form_row(form.TrickName,{'attr':{'placeholder':"Add name"}}) }}
    </div>
    <div class="form_row">
      {{ form_row(form.description,{'attr':{'placeholder':"Add description"}}) }}
    </div>
    <div class="form_row">
      {{ form_row(form.categorie,{'attr':{'placeholder':"Add categorie"}})
      }}
    </div>
{# <pre>
    {{ dump( form.data) }}
</pre> #}
{% for image in trick.images %}
    <div>
      
        <img
          src="{{ asset('/images/'~ image.name) }}"
          alt="Delete image"
          width="150"
        />
        <a href="{{ path('delete_main_image', { id: image.id }) }}" data-delete data-token="{{csrf_token('delete'~ image.id)}}"
        ><i class="fas fa-trash-alt">sup</i
      >
       </a>
      </div>
  
  {% endfor %}
  <div class="form_row">
  {{ form_row(form.images) }}
  <a type="button" class="btn btn-primary mr-auto m-2" href="#"
  >Choisir une image pour changer le image principle
</a>
</div>
    <div class="form_row">
      <button type="submit" class="btn btn-success">
     Editer le trick 
      </button>
      {{ form_end(form) }}
    </div>
</div>
  </div>
</section>

{% endblock %}
{% block javascript %}
<script src="{{ asset('js/image.js')}}"
{% endblock javascript %}