{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %} 

{% if trick.user.id is same as app.user.id %}
<div class="container">
  {% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
  <h1 class="text-center">Edit d'un Trick</h1>
  <div class="row text-center">
    <div class="col">
      <div class="p-3 mb-2 bg-light">
        <div class="form-group">
          {{ form_start(form) }}
        </div>
        <div class="form-group">
          {{ form_row(form.TrickName,{'attr':{'placeholder':"Add name"}}) }}
        </div>
        <div class="form-group">
          {{ form_row(form.description,{'attr':{'placeholder':"Add description"}}) }}
        </div>
        <div class="form-group">
          {{ form_row(form.categorie,{'attr':{'placeholder':"Add categorie"}})}}
        </div>
         <!--display main image-->
         <a type="button" class="  btn btn-primary mr-auto m-2  media_btn" 
           >See medias</a>
<div class="media_visibility " >
        <div class="row ">
          <div class="col text-center">
            <h3>Image principle</h3>
            {% for mainimage in trick.images %}
          
          {% if trick.images is empty %}
          <img
          class="display-top img-fluid"
          src="https://via.placeholder.com/130.png/09f/fff"
          alt=""
          width="400px"
        />
          {% endif %}
            {% if mainimage.isMainImage == true %}
           
                <div class="">
                  
                    <img class="img_main"tricks-big img-fluid   p-3""
                      src="{{ asset('/images/'~ mainimage.name) }}"
                      alt=""
                      width="400"
                      height="400"
                    />
                    
                    <a href="{{ path('delete_main_image', { id: mainimage.id }) }}" data-delete data-token="{{csrf_token('delete'~ mainimage.id)}}"
                    ><i class="fas fa-trash-alt"></i
                  >
                   </a>
               
                  </div>
                  {% endif %}
              {% endfor %}
              
          </div>
        </div>
         <!--END display main image-->
         <!-- display image gallery-->
         <h3>Image gallery</h3>
         <div class="visibility_gallery">
<div class="row p-3">
<div class="d-flex p-3 align-items-center center">
  {% for galleryimg in trick.images %}
  {% if galleryimg.isMainImage == false %}
{# <pre>
    {{ dump(galleryimg.nameGallaryImages) }}
</pre> #}

   <div class="margin">
    <img
    class="tricks add-tricks img-fluid width"
      src="{{ asset('/images/'~ galleryimg.name) }}"
      alt=""
      />
    <a href="{{ path('delete_main_image', { id: galleryimg.id }) }}" data-delete data-token="{{csrf_token('delete'~ galleryimg.id)}}"
    ><i class="fas fa-trash-alt"></i  > </a>
    </div>   
 
{% endif %}
  
{% endfor %}
</div>
</div>
<!-- END display image gallery-->
<!--display video gallery-->
<h3>Video gallery</h3>
      <div class="row p-5">
       <div class="d-flex  p-3 justify-content-around">
     
        {% for video in selVideos %}
        
          <div class="col-lg-4 col-md-12 mb-3 pb-3">
            <div class="card ">
              <iframe
                src="{{ video.url }}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              >
              </iframe>
              <a href="{{ path('delete_video', { id: video.id }) }}" data-delete data-token="{{csrf_token('delete'~ video.id)}}"
              ><i class="fas fa-trash-alt"></i
            >
             </a>
            </div>
          </div>
          {% endfor %}
       </div> 
      </div>
      </div>
<!--ENDdisplay video gallery-->
<!--display buttons-->
<div class="d-flex item_center">
   {{ form_row(form.images,{'attr':{'class':"btn btn-primary mr-auto m-2"}}) }}
 
   {{ form_row(form.gallaryimages,{'attr':{'class':"btn btn-primary mr-auto m-2"}}) }}
<div class="style_btn">
<a type="button" class="btn btn-primary mr-auto m-2 videos_btn" href="{{ path('add_video',{ id: trick.id })}}"
>Add video
</a>
</div>
</div>
</div>
<!--END display buttons-->

      </div>
    </div>
    <div class="form_row">
      <button type="submit" class="btn btn-success">
     Editer le trick 
      </button>
    
      {{ form_end(form) }}
    </div>
    
  </div>
</div>
{% endif %} 
<footer>
  <div class="visibility_footer">
    <p><a href="mailto:hege@example.com">Copyright @ 2022</a></p>
  </div>
  <div class="visibility_user">
       <ul class="navbar-nav ms-auto mb-2 mb-lg-0 display" style="display: flex;
       flex-direction: row;justify-content: space-evenly;">
            {% if app.user %} 
            
            <li class="nav-item">
              <a class="nav-link" href="{{ path('user_profile', { id: app.user.id }) }}"
                ><i class="fas fa-user-plus"></i></i> {{ app.user.userIdentifier }} </a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('trick_create') }}"
                ><i class="fa fa-plus" aria-hidden="true"></i>
               </a
              >
              
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_logout') }}"
                ><i class="fas fa-sign-in-alt"></i> </a
              >
            </li>
            
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_register') }}"
                ><i class="fas fa-user-plus"></i>Inscription</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_login') }}"
                ><i class="fas fa-sign-in-alt"></i>Connection</a
              >
            </li>

            {% endif %}
            
           
          </ul>
  </div>
</footer>
{% endblock %} 
{% block javascripts %}
<script src="{{ asset('/js/visibleMedia.js') }}"></script>
<script src="{{ asset('js/image.js')}}"></script>

{% endblock %}








