{% extends 'base.html.twig' %} {% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-md-offset-1 mb-4">
      <div class="card mt-5">
        {% for image in selImages %} {% if image.name is not empty %}
        <img
          class="display-top img-fluid"
          src="{{ asset('/images/'~ image.name) }}"
          alt=""
        />
        {% endif %} {% endfor %}
        <div class="card-body">
          <ul class="list-inline trick-data">
            <li class="list-inline-item">
              Créer par:<a target="" href="#">{{ trick.user.secondName }}</a>
            </li>
            <li class="list-inline-item">
              Ajouter le:{{ trick.createdOn | date('d/m/y') }} à
              {{ trick.createdOn | date('H:i') }}
            </li>
            <li class="list-inline-item">Catagorie:{{ trick.categorie }}</li>
            <li class="list-inline-item">number Of Comments:</li>
          </ul>
          <!---Start carousel-->
          <div class="row">
            {% for image in selImages %} {% if image.nameGallaryImages is not
            null %}
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <pre>
                {{ dump(image.nameGallaryImages) }}
              </pre
                >
                <img
                  src="{{ asset('/images/'~ image.nameGallaryImages) }}"
                  class="w-100"
                />
                <a
                  href="#!"
                  data-mdb-toggle="modal"
                  data-mdb-target="#exampleModal1"
                >
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2)"
                  ></div>
                </a>
              </div>
            </div>
            {% endif %} {% endfor %}
          </div>

          {% for video in selVideos %}
          <pre>
            {{ dump(video.url) }}
          </pre>
          <div class="col-lg-4 col-md-12 mb-3 pb-3">
            <div class="card h-100">
              <iframe
                src="{{ video.url }}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              >
              </iframe>
            </div>
          </div>
          {% endfor %}
          <!--
          <div class="row d-lg-flex load-media">
            <div class="col-lg-6 col-md-12">
              {# <div class="carousel slide mt-3 mb-2" data-ride="carousel"> #}
                {# <ol class="carousel-indicators">
                  <li class="" data-target=".carousel" data-slide-to="1"></li>
                  <li class="" data-target=".carousel" data-slide-to="2"></li>
                  <li class="" data-target=".carousel" data-slide-to="3"></li>
                  <li class="" data-target=".carousel" data-slide-to="4"></li>
                  <li class="" data-target=".carousel" data-slide-to="5"></li>

                </ol> #}
                {# <div lass="carousel-inner enlarge"> #}
                  {# {% for image in selImages %} #}
                  <div class="carousel-item">
                    {# <img class="d-block" src="{{ asset('/images/'~ image.nameGallaryImages) }}" > #}
                  </div>
                  {# {% endfor %} #}
                {# </div> #}
              {# </div> #}
            </div>
            <div class="col-lg-6 col-md-12"></div>
          </div>
          -->
          <!---End  carousel-->
          <h4 class="card-title">
            <strong>{{ trick.trickName }}</strong>
          </h4>
          <p class="card-text">
            {{ trick.description }}
          </p>
          <!---Start Comment Add form-->
          <div class="col-md-12 px-0 mb-3">
            <div class="border entry-comments">
              <!--condition here to display-->
              <div class="comments text-center p-3">
                <h4 class="h4 col pt-3">Ecrivez un commentaire</h4>
                <p class="col">Display user here</p>
                <p>
                  <a href="/register">Inscrivez-vous</a> Ou
                  <a href="/login">Connectez-vous</a> Pour commenter cet article
                </p>
              </div>
              <!--END condition here to display-->
            </div>
          </div>

          <!---End Comment Add form-->
          <!---Start Comment -->
          <div class="col-md-12 bg-light">
            <div class="mb-3">
              <div class="border entry-comments">
                <h6 class="mb-3 pl-2">---Commentaires</h6>
                <ul class="entry-comments-list list-unstyled">
                  <!-- DO LOOP-->
                  <div class="row mb-3 pl-2 bg-light">
                    <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                      <img class="user-profile" src="#" />
                    </div>
                    <div class="col-10 col-sm-8 col-xs-6">
                      <p>Display comment here</p>
                      <p>
                        <span>
                          Par: <a href="#">Display comment owner here</a></span
                        >
                        <span> Display commented date here</span>
                      </p>
                    </div>
                  </div>
                  <!--end loop-->
                </ul>
              </div>
            </div>
            <div class="p-3"></div>
          </div>

          <!---End Comment-->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
