{% extends 'base.html.twig' %} {% block body %}
<div class="container">
  <a class="nav-link active" href="{{ path('home') }}"
  <button type="button" >
   Go back
   </button></a>
  <div class="row justify-content-center">
    <div class="col-md-10 col-md-offset-1 mb-4">

      <div class="card mt-5">
     
        {% for image in selImages %} {% if image.isMainImage == true %}
     
        <img
          class="display-top img-fluid"
          src="{{ asset('/images/'~ image.name) }}"
          alt=""
        />
        
        {% endif %}
        {% else %}
        <img
        class="display-top img-fluid"
        src="{{ asset('/images/default.jpeg') }}"
        alt=""
        width="600px"
      />

        {% endfor %}
        
        <div class="card-body">
          <ul class="list-inline trick-data">
            <li class="list-inline-item">
              Créer par:<a
                target=""
                href="{{ path('user_profile', { id: trick.user.id }) }}"
                >{{ trick.user.secondName }} {{ trick.user.id }}</a>
            </li>
            <li class="list-inline-item">
              Ajouter le:{{ trick.createdOn | date('d/m/y') }} à
              {{ trick.createdOn | date('H:i') }}
            </li>
            <li class="list-inline-item">Catagorie:{{ trick.categorie }}</li>
            <li class="list-inline-item">number Of Comments:</li>
          </ul>
          <!---Start carousel-->
          <a type="button" class="  btn btn-primary mr-auto m-2  media_btn" 
           >See medias</a>
           <div class="media_visibility " >
          <h4>Image Gallery</h4>
       
          <div class="row ">
         
          {% for image in selImages %} {% if image.isMainImage == false %}
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
           
                <img
                  src="{{ asset('/images/'~ image.name) }}"
                  class="w-100"
                />
                <a
                  href="#!"
                  data-mdb-toggle="modal"
                  data-mdb-target="#exampleModal1"
                >
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2)"
                  ></div>
                </a>
              </div>
            </div>
            {% endif %} {% endfor %}
          </div>
          <h4>Video Gallery</h4>
          <div class="col-lg-4 col-md-12 mb-3 pb-3 margin">
            {% for video in selVideos %}
            <pre>
            
            </pre>
            <div class="card h-100 width">
              <iframe
                src="{{ video.url }}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                width="200"
              >
              </iframe>
            </div>
            {% endfor %}
          </div>
        </div>
          <!---End  carousel-->
          <h4 class="card-title">
            <strong>{{ trick.trickName }}</strong>
          </h4>
          <p class="card-text">
            {{ trick.description }}
          </p>
          <!---Start Comment Add form-->
          <div class="col-md-12 px-0 mb-3">
            <div class="border entry-comments">
              <!--condition here to display-->
              {% if app.user is not null %}
              <div class="comments text-center p-3">
                <h4 class="h4 col pt-3">Ecrivez un commentaire</h4>
                {{ form_start(form) }}

                <p class="col">{{ app.user.userIdentifier }}</p>
                <div class="form_row">
                  {{ form_row(form.content) }}
                </div>
                <button type="submit" class="btn btn-lg btn-primary m-3">
                  submit comment
                </button>
                {{ form_end(form) }}
                {% else %}
                <p>
                  <a href="/register">Inscrivez-vous</a> Ou
                  <a href="/login">Connectez-vous</a> Pour commenter cet article
                </p>
              </div>
              {% endif %}
              <!--END condition here to display-->
            </div>
          </div>

          <!---End Comment Add form-->
          <!---Start Comment -->
          <div class="col-md-12 bg-light">
            <div class="mb-3">
              <div class="border entry-comments ">
                <h6 class="mb-3 pl-2">Commentaires</h6>
                 <!-- DO LOOP-->
                 {% do selCommentspag.setPageRange(2) %}
                 {{ knp_pagination_render(selCommentspag,'blog/pagination.html.twig') }}
                 {% for comment in selCommentspag %}
               
                <ul class="entry-comments-list list-unstyled">
                 

                  <div class=" mb-3 pl-2 bg-light  flex">
                    <div class="col-md-2 col-sm-4 col-xs-6 text-center sty_comment">
                    
                      <img
                        class="user-profile"
                      src="{{ asset('/images/'~ comment.user.profieImage) }}" 
                      />
                
                   
                       
                    </div>

                    <div class="col-10 col-sm-8 col-xs-6 comment_sec">
                    
                      <p>{{ comment.content }}</p>
                      <p>
                        <span>
                          Par:<a href="{{
                            path('user_profile', { id: comment.user.id })
                          }}">{{ comment.user.secondName }}</a></span
                        
                          ></span
                        >
                        <span
                          > {{ comment.createdAt | date('d/m/y') }} à
                          {{  comment.createdAt  | date('H:i') }}
                          </span
                        >
                      </p>
                    </div>
                  </div>
                
                </ul>
                {% endfor %}
                <!--end loop-->
              </div>
            </div>
            <div class="p-3"></div>
          </div>

          <!---End Comment-->
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="visibility_footer">
    <p><a href="mailto:hege@example.com">Copyright @ 2022</a></p>
  </div>
  <div class="visibility_user">
       <ul class="navbar-nav ms-auto mb-2 mb-lg-0 display" style="display: flex;
       flex-direction: row;justify-content: space-evenly;">
            {% if app.user %} 
            
            <li class="nav-item">
              <a class="nav-link" href="{{ path('user_profile', { id: app.user.id }) }}"
                ><i class="fas fa-user-plus"></i></i> {{ app.user.userIdentifier }} </a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('trick_create') }}"
                ><i class="fa fa-plus" aria-hidden="true"></i>
               </a
              >
              
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_logout') }}"
                ><i class="fas fa-sign-in-alt"></i> </a
              >
            </li>
            
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_register') }}"
                ><i class="fas fa-user-plus"></i>Inscription</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_login') }}"
                ><i class="fas fa-sign-in-alt"></i>Connection</a
              >
            </li>

            {% endif %}
            
           
          </ul>
  </div>
</footer>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('/js/visibleMedia.js') }}"></script>

{% endblock %}