{% extends 'base.html.twig' %} {% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 col-md-offset-1 mb-4">
      <div class="card mt-5">
        <pre>
          {{ dump(trick) }}
        </pre>
        <!-- {% for image in selImages %} {% if image.name is not empty %}
        <img
          class="display-top img-fluid"
          src="{{ asset('/images/'~ image.name) }}"
          alt=""
        />
        {% endif %} {% endfor %} -->
        <div class="card-body">
          <ul class="list-inline trick-data">
            <li class="list-inline-item">
              Créer par:<a
                target=""
                href="{{ path('user_profile', { id: trick.user.id }) }}"
                >{{ trick.user.secondName }} {{ trick.user.id }}</a>
            </li>
            <li class="list-inline-item">
              Ajouter le:{{ trick.createdOn | date('d/m/y') }} à
              {{ trick.createdOn | date('H:i') }}
            </li>
            <li class="list-inline-item">Catagorie:{{ trick.categorie }}</li>
            <li class="list-inline-item">number Of Comments:</li>
          </ul>
          <!---Start carousel-->
          <h4>Image Gallery</h4>
          <div class="row">
            {% for image in selImages %} {% if image.nameGallaryImages is not
            null %}
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
              <div
                class="bg-image hover-overlay ripple shadow-1-strong rounded"
                data-ripple-color="light"
              >
                <img
                  src="{{ asset('/images/'~ image.nameGallaryImages) }}"
                  class="w-100"
                />
                <a
                  href="#!"
                  data-mdb-toggle="modal"
                  data-mdb-target="#exampleModal1"
                >
                  <div
                    class="mask"
                    style="background-color: rgba(251, 251, 251, 0.2)"
                  ></div>
                </a>
              </div>
            </div>
            {% endif %} {% endfor %}
          </div>
          <h4>Video Gallery</h4>
          <div class="col-lg-4 col-md-12 mb-3 pb-3 margin">
             {% for video in selVideos %}
            <pre>
            
            </pre>
            <div class="card h-100 width">
              <iframe
                src="{{ video.url }}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                width="200"
              >
              </iframe>
            </div> 
            {% endfor %} 
          </div>

          <!---End  carousel-->
          <h4 class="card-title">
            <strong>{{ trick.trickName }}</strong>
          </h4>
          <p class="card-text">
            {{ trick.description }}
          </p>
          <!---Start Comment Add form-->
          <div class="col-md-12 px-0 mb-3">
            <div class="border entry-comments">
              <!--condition here to display-->
              {% if app.user is not null %}
              <div class="comments text-center p-3">
                <h4 class="h4 col pt-3">Ecrivez un commentaire</h4>
                {{ form_start(form) }}

                <p class="col">{{ app.user.userIdentifier }}</p>
                <div class="form_row">
                  {{ form_row(form.content) }}
                </div>
                <button type="submit" class="btn btn-lg btn-primary m-3">
                  submit comment
                </button>
                {{ form_end(form) }}
                {% endif %}
                <p>
                  <a href="/register">Inscrivez-vous</a> Ou
                  <a href="/login">Connectez-vous</a> Pour commenter cet article
                </p>
              </div>

              <!--END condition here to display-->
            </div>
          </div>

          <!---End Comment Add form-->
          <!---Start Comment -->
          <div class="col-md-12 bg-light">
            <div class="mb-3">
              <div class="border entry-comments">
                <h6 class="mb-3 pl-2">Commentaires</h6>
                 <!-- DO LOOP-->
                 {% for comment in selComments %}
                <ul class="entry-comments-list list-unstyled">
                 

                  <div class="row mb-3 pl-2 bg-light">
                    <div class="col-md-2 col-sm-4 col-xs-6 text-center">
                      <img
                        class="user-profile"
                        src="{{ asset('/images/'~ comment.userObj.profieImage) }}"
                      />
                    </div>

                    <div class="col-10 col-sm-8 col-xs-6">
                      <p>{{ comment.content }}</p>
                      <p>
                        <span></span>
                          Par:
                          <a
                            href="{{
                              path('user_profile', { id: comment.userObj.id })
                            }}"
                            >{{ comment.userObj.firstName }}</a
                          ></span
                        >
                        <span
                          >{{ comment.createdAt | date('d/m/y') }} à
                          {{  comment.createdAt  | date('H:i') }}</span
                        >
                      </p>
                    </div>
                  </div>
                
                </ul>
                {% endfor %}
                <!--end loop-->
              </div>
            </div>
            <div class="p-3"></div>
          </div>

          <!---End Comment-->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
