{% extends 'base.html.twig' %} {% block body %}
<section class="tickes">
  <div class="card trickcard_style">
    {{ form_start(formuser) }}
    <div class="form_row">
      {{ form_row(formuser.firstName,{'attr':{'placeholder':"Prénom"}}) }}
    </div>
    <div class="form_row">
      {{ form_row(formuser.second_name,{'attr':{'placeholder':"Nom"




      }}) }}
    </div>
    <div class="form_row">
      {{ form_row(formuser.email,{'attr':{'placeholder':"Address email"}}) }}
    </div>

    <div class="form_row">
      {{ form_row(formuser.password.first) }}
    </div>
    <div class="form_row">
      {{ form_row(formuser.password.second) }}
    </div>

    <div class="form_row">
      <button type="submit" class="btn btn-success">Inscription</button>
      {{ form_end(formuser) }}
    </div>
  </div>
</section>

{#
<div class="container margin-top">
  <div class="row text-center">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="bg-light py-3 px-3">
        <h3 class="">Inscrivez vous</h3>
        <form name="user" method="post">
          <div class="form-group">
            <label for="secondName"> Prénom</label>
            <input
              class="form-control"
              id="prenom"
              type="text"
              name="secondName"
              placeholder="Prénom"
              required=""
            />
          </div>
          <div class="form-group">
            <label for="firstName"> Nom</label>
            <input
              class="form-control"
              id="nom"
              type="text"
              name="firstName"
              placeholder="Nom"
              required=""
            />
          </div>
          <div class="form-group">
            <label for="email"> Address email</label>
            <input
              class="form-control"
              id="email"
              type="text"
              name="email"
              placeholder="Address email"
              required=""
            />
          </div>
          <div class="form-group">
            <label for="password1"> Mot de passe</label>
            <input
              class="form-control"
              id="password1"
              type="password"
              name="password1"
              placeholder="Mot de pass"
              required=""
            />
          </div>
          <div class="form-group">
            <label for="password2"> Confirmation de mot de passe</label>
            <input
              class="form-control"
              id="password2"
              type="password"
              name="password2"
              placeholder="Confirmez votre mot de passe"
              required=""
            />
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit">Inscription</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
#} {% endblock %}
